[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
obj/
[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store
.vscode/
*.apk
.vs/